:host {
  align-items: center;
  background: transparent;
  border-color: var(--cxe-color-icon);
  border-radius: 0.1875rem;
  border-style: solid;
  border-width: 1px;
  color: var(--cxe-color-subtext);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  padding: 0.25rem 0.5rem;
  user-select: none;
}