<section class="sample">
  <xpt-button>Simple</xpt-button>
  <label>Text-only button</label>
</section>

<section class="sample custom">
  <xpt-button>Custom Style</xpt-button>
  <label>Styled from the outside</label>
</section>

<section class="sample has-icon icon-only">
	<xpt-button>
		<iron-icon icon="xpt-icons:xpt-search"></iron-icon>
	</xpt-button>
	<label>Icon Only</label>
</section>

<section class="sample has-icon icon-left">
	<xpt-button>
		<iron-icon icon="xpt-icons:xpt-search"></iron-icon>
		Search
	</xpt-button>
	<label>Icon left + Text</label>
</section>

<section class="sample has-icon icon-right">
  <xpt-button>
    Search
    <iron-icon icon="xpt-icons:xpt-search"></iron-icon>
  </xpt-button>
  <label>Icon right + Text</label>
</section>